#dropdown-wrapper{
    width: 5vw;
}
#dropdown-btn{
    display: flex;
    width: 100%;
}
#dropdown-label{
    display: flex;
    width: 100%;
}
#dropdown-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50vw;
    border: 2px solid black;
    padding: 1rem;
}
#dropdown-content > * {
    min-width: 150px;
    width: 10vw;
    box-sizing: border-box;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
#dropdown-content > *:hover {
    color: white;
    min-width: 150px;
    width: 10vw;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding: 1rem;
}
.hidden{
    display: none !important;
}